body {
    background-color: hsl(233, 47%, 7%);
    color:hsl(0, 0%, 100%);
    font-family: Inter, 'Lexend Deca', Helvetica;
    font-size: 15px;
    margin: 0;
}
h1 {
    visibility: hidden;
}
.clearfix::after {
    content: "";
    clear:both;
    display: table;
}
.container{
    height: 61vh;
    width: 36.6vw;
    margin: auto;
    order:1;
    /* border: 2px solid greenyellow; */
}
.office {
    /*display: block;*/
    width: 38vw;
    height: 61vh;
    position: relative;
    right: 0em;
    top:-0em;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
}
.imgTrial::after{
    width: 38vw;
    height:61vh;
    content: "";
    background-color: hsla(277, 64%, 61%,81%);
    position: relative;
    top: -61.6vh;
    left: 0vw;
    right: 0vw;
    bottom: 0vh;    
    display: grid;
    margin: auto;
    place-items: center;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
}
strong {
    color: hsl(277, 64%, 61%);
}

.info {
    display: block;
    color: hsl(0, 0%, 100%);
    margin-bottom:0em ;
}

.statFlex {
    display: flex;
    width: 70%;
    justify-content:space-around ;
    color:  hsla(0, 0%, 100%, 0.6);
    margin: auto;
    text-transform: uppercase;
    text-align: left;
}
.caption {
    color: hsla(0, 0%, 100%, 0.75);
    width: 60%;
    margin: auto;
    margin-top: -2vh;
    margin-bottom: 2vh;
}

.innerHeading {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 8vh;
    font-size: 6vh;
}

.content {
    background-color: hsl(244, 38%, 16%);
    width: 50%;
    text-align: center;
    /*border: 1px solid salmon;*/
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    order:2;
    padding-bottom: 3vh;
}
.mainFlex {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    flex-direction:row-reverse;
    align-items: space-between;
    background-color: hsl(244, 38%, 16%);;
    margin: auto;
    border-radius: 1em;
}
/* Using responsive web design */

/* The below content is the template I've optimised for all my projects */
.attribution {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    width: 18rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    background-color: rgba(85, 5, 151, 0.5);
    position: relative;
    /*visibility: hidden;*/
}

.attribution b:hover {
    text-shadow: 1px 1px rgb(96, 198, 206);
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}
.attribution h4{
    margin-bottom: 0.25rem;
    margin-top: 0.5em;
}

.icon-lg {
    display: inline-block;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border : 7px outset blue;
    padding: 10px;
    margin-bottom: 0.1rem;
    background-color: rgb(40, 3, 71);
}

