body {
    background-color: hsl(233, 47%, 7%);
    color:hsl(0, 0%, 100%);
}

.container{
    height: 21em;
    width: 30%;
    margin: auto;
}
.office {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    left:0em;
    top:-0.3em;
   
}
.imgTrial::after{
    width: 25em;
    height:20.7em;
    content: "Women at work laughing";
    background-color: hsla(277, 64%, 61%,50%);
    position: relative;
    top: -21em;
    left: 0px;
    right: 0;
    bottom: 0px;
    display: grid;
    margin: auto;
    place-items: center;
}



/* The below content is the template I've optimised for all my projects */
.attribution {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    width: 18rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    background-color: rgba(141, 63, 204,50%);
    position: fixed;
    bottom: 0px;
    left:41%;
    visibility: hidden;
}

.attribution b:hover {
    text-shadow: 1px 1px rgb(96, 198, 206);
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}
.attribution h4{
    margin-bottom: 0.25rem;
    margin-top: 0.5em;
}

.icon-lg {
    display: inline-block;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border : 7px double blue;
    padding: 10px;
    margin-bottom: 0.1rem;
    background-color: rgb(40, 3, 71);
}

